[report]
exclude_lines = 
    pragma: not covered
    @overload
    @abstractmethod
    def __eq__
    raise ValueError
    raise RuntimeError
    raise TypeError
    assert False
    raise ParsingError
show_missing = True
